.panel{
    /* 位于屏幕中央 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 面板大小 */
    width: 400px;
    height: 300px;
    /* 背景颜色 */
    background-color: #f9f9f9;
    /* 边框 */
    border: 1px solid #ccc;
    /* 圆角 */
    border-radius: 5px;
    /* 阴影 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
*{
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
}